.convoblock {
  white-space: nowrap;
  overflow-x: scroll;
  width: 8000px;
}
.convoblock .collapsibleList li {
	list-style-image: url(button-dark.png);
	cursor: auto;
	margin-top: -2px !important;
	padding-top: 2px !important;
}
.convoblock .rootList li.collapsibleListClosed {
	list-style-image: url(button-closed-dark.png);
	cursor: pointer;
}
.convoblock .rootList li.collapsibleListClosed {
	list-style-image: url(button-closed-dark.png);
	cursor: pointer;
}
.convoblock .rootList li.collapsibleListOpen {
	list-style-image: url(button-open-dark.png);
	cursor: pointer;
}
.convoblock .rootList li.collapsibleListOpen,
body.body-overlay-light .convoblock .rootList li.collapsibleListOpen {
	list-style-image: url(button-open-dark.png);
	cursor: pointer;
}

span.ruletag {
	cursor: pointer;
	color: coral;
	margin-left: 5px;
}

span.tags {
	cursor: pointer;
	color: crimson;
	margin-left: 5px;
}

span.checkflag {
	cursor: pointer;
	color: royalblue;
	margin-left: 5px;
}

span.setflag {
	cursor: pointer;
	color: darkgoldenrod;
	margin-left: 5px;
}

span.rolls {
	cursor: pointer;
	color: darkviolet;
	margin-left: 5px;
}

span.approval {
	cursor: pointer;
	color: darkcyan;
	margin-left: 5px;
}


div.npc {
	cursor: pointer;
	color: green;
	margin-left: 5px;
}

div.npcgroup {
	cursor: pointer;
	color: lightslategray;
	margin-left: 5px;
}

span.npcplayer {
	cursor: pointer;
	color: deeppink;
	margin-left: 5px;
}

span.context {
	cursor: pointer;
	color: lightskyblue;
}
span.synopsis {
	cursor: pointer;

}

span.nodelink.showrules.showing-rules {
	cursor: pointer;
	color: coral;
	margin-left: 5px;
}

span.nodelink.showcheckflag.showing-checkflag {
	cursor: pointer;
	color: royalblue;
	margin-left: 5px;
}

span.nodelink.showsetflag.showing-setflag {
	cursor: pointer;
	color: darkgoldenrod;
	margin-left: 5px;
}

span.nodelink.showroll.showing-roll {
	cursor: pointer;
	color: darkviolet;
	margin-left: 5px;
}

span.nodelink.showapprov.showing-approv {
	cursor: pointer;
	color: darkcyan;
	margin-left: 5px;
}

span.nodelink.showtags.showing-tags {
	cursor: pointer;
	color: crimson;
	margin-left: 5px;
}

span.nodelink.showrules.hiding-rules {
	cursor: pointer;
	color: coral;
	margin-left: 5px;
}

span.nodelink.showcheckflag.hiding-checkflag {
	cursor: pointer;
	color: blue;
	margin-left: 5px;
}

span.nodelink.showsetflag.hiding-setflag {
	cursor: pointer;
	color: darkgoldenrod;
	margin-left: 5px;
}

span.nodelink.showroll.hiding-roll {
	cursor: pointer;
	color: darkviolet;
	margin-left: 5px;
}

span.nodelink.showapprov.hiding-approv {
	cursor: pointer;
	color: darkcyan;
	margin-left: 5px;
}

span.nodelink.showtags.hiding-tags {
	cursor: pointer;
	color: crimson;
	margin-left: 5px;
}


span.nodelink.showcontext.showing-context {
	cursor: pointer;
	color: lightskyblue;
	margin-left: 5px;
}
span.nodelink.showcontext.hiding-context {
	cursor: pointer;
	color: lightskyblue;
	margin-left: 5px;
}
